In [2]:
del x #변수가 메모리에서 제거

NameError: name 'x' is not defined

In [ ]:
#빈 변수
x=None #변수는 만들어졌지만 값은 만들어지지 않은 상태
x

In [ ]:
x=10
x=x+5 #아래와 같은 결과
x+=5 #미묘한 차이지만 성능적인 측면에서 축약형이 나음
x

In [ ]:
input()

In [ ]:
x=input("입력:") #input함수는 문자로 입력되어진다.

In [ ]:
x

In [ ]:
x+=2

In [ ]:
int(x)

In [ ]:
y=None
y=int(input('입력:'))

In [ ]:
y

In [ ]:
#input에서 여러개 입력 -> split함수 사용(공백 구분)
x,y=input("문자열 두개 입력:").split()
print(x)
print(y)
print(x+y)
x=int(x)
y=int(y)
print(x+y)

In [ ]:
#x, y=input("문자열 두개 입력:").split()
#print(type(input("문자열 두개 입력:").split()))
map(int, input("문자열 두개 입력:").split())
print(x+y)
#형식 : map(함수, 데이터)

In [6]:
print(1,2,3,4)
print("hi","hello")
print(1,2,3,4, sep=",")
print(1,2,3,4,sep=",,,")
print(1,2,3,4, sep="")
print(1,2,3,4, sep="    ")
print(1,2,3,4, sep="x")
print(1,2,3,4, sep="\n")

1 2 3 4
hi hello
1,2,3,4
1,,,2,,,3,,,4
1234
1    2    3    4
1x2x3x4
1
2
3
4

In [7]:
print("1\\2") #\기호는 \\작성해서 출력

1\2

In [8]:
print(1, end='')
print(2)
print(3)
print(1,2,3)

12
3
1 2 3

In [11]:
2>1
1 is not 1.0

True

In [10]:
"""
클래스 : 건축 설계도, 붕어빵기계, 자동차 공장
객체 : 건물, 붕어빵, 자동차
속성 : 건물의 특성(층, 평수, ...), 붕어빵의 특성(내용물, 크기, ...), 배기량, 크기, 가격 등
메서드 : 건물의 동작(???), 붕어빵의 동작, 달린다/ 멈춘다
상속 : 유사한 건물 설계시 기존 건축설계도의 재사용
"""
#아빠 -> 코골이 -> 자식(이를 간다) -> 자식(코골이, 이를 간다, 잠꼬대)

'\n클래스 : 건축 설계도, 붕어빵기계, 자동차 공장\n객체 : 건물, 붕어빵, 자동차\n속성 : 건물의 특성(층, 평수, ...), 붕어빵의 특성(내용물, 크기, ...)\n메서드 : 건물의 동작(???), 붕어빵의 동작, 달린다/ 멈춘다\n상속 : 유사한 건물 설계시 기존 건축설계도의 재사용\n'

In [12]:
#논리연산 : and, or, not
True and True

True

In [19]:
#bool함수 : 정수, 실수, 문자열=>불린 타입 변환
bool(1)
bool(0)
bool(-1)#정수 0을 제외한 모든 정수는 참
bool(3.14)
bool(0.0)#실수 0.0을 제외한 모든 실수는 참
bool("hi")
bool("")#false 빈 문자열("",'')는 거짓
bool('')#false

False

In [22]:
False and True #False 이므로 and 뒤에 있는 True는 실행 안함
True or False #True 이므로 or 뒤에 있는 False는 실행 안함

True

In [32]:
number=3
day="two"
"I eat %d apples. " % 3
"I eat %s apples. " % "three"
"I eat %d apples. " % number
"I ate %d apples. so I was sick for %s days. " %(number, day)

'I ate 3 apples. so I was sick for two days. '

In [33]:
"I eat %s apples. " % "3"

'I eat 3 apples. '

In [34]:
"I eat %s apples. " % 3 #%s는 타입과 관련없이 전달 받아서 출력해줌

'I eat 3 apples. '

In [35]:
"Error is %d"% 90

'Error is 90'

In [36]:
"Error is %d%%" %90 #%기호 출력

'Error is 90%'

In [39]:
#%10s : 10자리 확보한 후, 오른쪽 정렬 출력
print("%10sgd" % "hi")
print("%10sgd" % "hello")

#%-10s : 10자리를 확보한 후, 왼쪽 정렬 출력
print("%-10sgd" %"hi")
print("%-10sgd" % "hello")

        higd
     hellogd
hi        gd
hello     gd

In [45]:
"%.2f" %3.14 
"%10.2f" %3.14 #10자리를 확보한 후, 소수 이하 둘째자리까지

'      3.14'

In [52]:
#format 함수를 이용한 포매팅
"I eat %d apples" %3
"I eat {0} apples".format(3) #중괄호 {0}안에 format 괄호안 인자.
"I eat {0} apples".format("three")#타입 신경 쓰지 않아도 된다.
num=3
"I eat {0} apples".format(num)
"I ate {1} apples. so I was sick for {0} days. ".format(3, "three")
"I ate {num} apples. so I was sick for {day} days. ".format(num=3, day="three")

'I ate 3 apples. so I was sick for three days. '

In [59]:
"{1} {0}".format("hi", "hello")
#정렬 옵션
"{0}".format("hello")
"{0:<10}".format("hello")#10자리 확보, 왼쪽 정렬
"{0:>10}".format("hello")#10자리 확보, 오른쪽 정렬
"{0:^10}".format("hello")#10자리 확보, 가운데 정렬
"{0:=^10}".format("hello")#10자리 확보, 가운데 정렬, =로 채우기
"{0:*^10}".format("hello")#10자리 확보, 가운데 정렬, *로 채우기

'**hello***'

In [65]:
a="hello"
a.count('l')#'문자의 개수'

b="Python is very easy."
b.find('y') # 가장 왼쪽에서부터 위치 찾아 나감
b.find('k') # 문자를 못찾는 경우에는 -1

b.index('y') # 가장 왼쪽에서부터 위치 찾아 나감(find 동일)
b.index('k') # 문자를 못찾는 경우에는 error

ValueError: substring not found

In [66]:
"#".join("hello")

'h#e#l#l#o'

In [67]:
#리스트 : 대괄호([])로 표현, 자료를 나열하고자 할때 사용
"$".join(['m','u','l','t','i'])

'm$u$l$t$i'

In [71]:
#자연어처리에서 'test','TEST', 'Test' => 일괄적으로 치환
a='Test'
a.lower() # 소문자로 변환
a.upper() # 대분자로 변환

'TEST'

In [77]:
# strip함수 : 양쪽 공백 제거
# lstrip함수 : 왼쪽 공백 제거
# rstrip함수 : 오른쪽 공백 제거
word=" hello       "
word
word.strip()
word.lstrip()
word.rstrip()

' hello'

In [78]:
# replace : 문자열 대체
# 대한민국, 한국, 코리아, 조선, 고려, 우리나라, ...
# => 대한민국으로
x="대한민국 한국 코리아"
x.replace("한국","대한민국")

'대한민국 대한민국 코리아'

In [79]:
x="a?b?c?d"
x.split("?")

['a', 'b', 'c', 'd']

In [91]:
"""
배열과 같은 기능이지만, 타 배열은 데이터 타입 중요
리스트 : 데이터 타입에 관계 없이 저장
"""
x1=[] # 빈 리스트
x1
x2=[1,2,3]
x2
x3=['programming', 'is', 'very', 'easy']
x3
x4=[1,2,'is', 'very']
x4
x5=[1,2,['is', 'very']] # 리스트의 요소로 리스트가 올 수 있다.
x5 # 리스트 내부에는 어떠한 자료형도 모두 포함될 수 있다.
a=list() #a=[] 과 같은 결과를 얻어내는 구문
a
a=[1,2,3]
a[0]+a[2]
a[-1] # -1 마지막 요소를 의미

4

In [103]:
x=[1,2,3,['a','b','c']]
"""
x리스트에서 1을 참조하여 출력
x리스트에서  'a','b','c'을 참조하여 출력
"""
x[0]
x[3]
x[-1]

# 리스트의 리스트를 참조
# a를 참조
x[3][0]
#c를 참조해서 출력
x[3][-1]
x[0:3] #x변수에 저장된 데이터의 0번~ 3-1번 index 데이터 추출

[1, 2, 3]

In [107]:
# 삼중 리스트
x=[1,2,['a','b',['Python','is']]]
#"Python 추출"
x[-1][-1][0]
x[:2]

[1]

In [112]:
x2=[1,2,3,['a','b','c'],4, 5]
x2
x2[2:]
x2[3][:2]

['a', 'b']

In [114]:
x=[1,2,3]
len(x)

3

In [124]:
a=[1,2,3]
#a[2]+"hi"
a[2]=4
a
#a[2]+="hi"
str(a[2])+"hi"
a[2]=str(a[2])+"hi"
a

[1, 2, '4hi']

In [130]:
#a=[0,1,2,...,9]
range(5) #0부터 4까지 연속된 숫자 생성
list(range(5))
list(range(3,12,2))# 3에서 11까지 2간격(증가폭)으로
list(range(13,2,-2))#13부터 2전까지(3) 2감소폭으로

[13, 11, 9, 7, 5, 3]

In [133]:
a=[1,2,3]
a[2]=10 #리스트에서는 요소 바꿀 수 있다.
a
del a[1]

a

In [134]:
a

[1, 10]

In [136]:
range(10) #1~10까지 숫자가 저장된 리스트를 생성
a=list(range(1,11))

In [137]:
del a[6:]#7~10 삭제

In [138]:
a

[1, 2, 3, 4, 5, 6]

In [139]:
del a[2:5]#3~5삭제

In [142]:
#리스트변수명.함수명()
a=[1,2,3]
x=5
a.append(x)
a
#자료구조(리스트, 튜플, 딕셔너리, 셋)에 따라 사용 가능한 함수가 다름
#(공통 사용 가능함수도 일부 있음)

[1, 2, 3, 5]

In [140]:
a

[1, 2, 6]

In [147]:
a=['K','a','z']
a
a.sort()
a
a.reverse()
a

['z', 'a', 'K']

In [151]:
a=[10,20,30]
a.index(20)
#a.find(20)
#a.index(1)

AttributeError: 'list' object has no attribute 'find'

In [155]:
#insert:리스트 요소 원하는 위치에 추가
#apend는 맨뒤에추가
a=[1,2,3]
a.insert(0,100) # 0번 인덱스 위치에 100추가
a
a.insert(3, 5)
a

[100, 1, 2, 5, 3]

In [156]:
a=[1,2,3,1,2,3,]
a.remove

In [157]:
a=[10,20,30,40]
a.pop()

40

In [158]:
a

[10, 20, 30]

In [159]:
a.pop(1)

20

In [160]:
a

[10, 30]

In [162]:
a=[1,2,3,1]
a.count(1)
a.count(0)

0

In [163]:
a=[1,2,3]
b=[4,5]
a.append(b)

In [164]:
a

[1, 2, 3, [4, 5]]

In [171]:
a=[1,2,3]
b=[4,5]
a.extend(b)

In [172]:
a

[1, 2, 3, 4, 5]

In [173]:
a+=[8,9]
a

[1, 2, 3, 4, 5, 8, 9]

In [179]:
x="921101-1231234"
print(x.split("-"))

['921101', '1231234']

In [218]:
x="921101-1231234"
list(x)
x[7]

'1'

c="a:b:c:d"
c
c.replace(":","#")

In [206]:
" ".join(['How','are','you'])

'How are you'

In [208]:
list(range(5,-4,-2))

[5, 3, 1, -1, -3]

In [216]:
a=list(range(1,10001))
a=str(a)
a.count('8')

4000